body {
    background-image: url(../img/emilia-about.jpg);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 950px;   
}

h1 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 900px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(6, 161, 99);
}

h6 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(0, 0, 0);
}
